
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: min-content;
	/* background-color: rgb(255, 186, 106); */
	background-color: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.app {
	position: fixed;
	width: min-content;
	height: min-content;
	border: 2px solid black;
	background-color: beige;
}

.app-header {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 4px;
	color: aliceblue;
	cursor: pointer;
	user-select: none;
	font-size: 12px;
	border-bottom: 2px solid black;
}

.app-header p {
	text-align: center;
	width: 100%;
	cursor: move;
}

.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app-closer {
	width: 16px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	padding: 1px;
	border: 2px solid black;
	background-color: rgb(255, 87, 87);
	margin-left: 6px;
}

.app-footer {
	height: auto;
	display: flex;
	flex-direction: row;
	border-top: 2px solid black;
}

.in-screen {
	border: 2px solid black;
	border-radius: 5px;
	margin: 6px;
	width: min-content;
}

/* Icon */
.app-icon {
	width: 100%;
	height: min-content;
	/* aspect-ratio: 1/1; */
	text-align: center;
	background-color: rgba(0, 255, 13, 0.4);
	border: 0;
	box-shadow: none;
	font-size: 14px;
	border-radius: 3px;
	padding: 10px;
	/*
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	*/
}

.app-icon p {
	/* margin-top: 6px; */
	color: white;
}

.app-icon:hover {
	background-color: rgba(255,255,255,0.4);
	border-radius: 5px;
}

.app-icon img {
	/* max-height: 20px; */
	width: 100%;
	min-width: 30px;
	height: min-content;
	max-height: 40px;
	/* padding: 2px; */
}